<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

 <style>
      .bg { background-color: #eeeeee; }
      .bd { border: 1px solid #666666; }
 </style>

{% if form.title.value %}   <!-- title 값이 존재하면 -->
<h1>  수정하기 </h1>
{% else %}
<h1>  신규작성</h1>          <!-- title 값이 존재하지 않으면 -->
{% endif %}


<form enctype="multipart/form-data" method=post>
   {% csrf_token %}
   	{{ form.as_p }}


    {% block content %}
    {% endblock %}
    <input type="submit" value="작성" >

</form>

<script>
   $("#id_title").addClass('bg bd');   /* form 객체에 class 추가 */
</script>