{% extends 'myboard/base.html' %}   <!--이 소스로 다른 소스를 채울 거라는 걸 명시한다-->


{% block content %}
<a href="{% url 'myboard' category 0 'add' %}">Add </a> <br>

{% for d in datas %}
<a href="{% url 'myboard' d.category d.pk 'detail' %}"> {{d.title}} </a> 조회수 {{d.cnt}} <br>
{% endfor %}

{% if datas.has_other_pages %}
        {% if datas.has_previous %}
          <a href="?page={{ datas.previous_page_number }}">&laquo;</a>
        {% else %}
          <span>&laquo;</span>
        {% endif %}

        {% for i in datas.paginator.page_range %}
          {% if datas.number == i %}
            <span>{{ i }} </span>
          {% else %}
            <a href="?page={{ i }}">{{ i }}</a>
          {% endif %}
        {% endfor %}
        {% if datas.has_next %}
            <a href="?page={{ datas.next_page_number }}">&raquo;</a>
        {% else %}
            <span>&raquo;</span>
        {%endif %}
    {%endif%}
<br>

<!--카테고리<input type="text" name="category" /> <br>-->
<!--유저명<input type="text" name="username" /> <br>-->
<!--페이지<input type="int" name="page" /> <br>-->
<!--<input type="submit" value="검색"/>-->


{% endblock %}